<html>

<head>
    <title> Contact Clay </title>
</head>

<body>
    <div>
        <form action="/thanks" method="POST">
            <label for="firstName">First Name:</label>
            <input name="firstName" type="text">

            <label for="lastName">Last Name:</label>
            <input name="lastName" type="text">

            <label for="email">Email:</label>
            <input name="email" type="text">

            <input type="submit" />
        </form>
    </div>
</body>

</html>