<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8" />
    <title>Clay's Portfolio</title>
    <link rel="stylesheet" href='styles.css' />
    <link rel="stylesheet" href='grid.css' />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:600|Raleway:700" rel="stylesheet">
    <script src="https://use.fontawesome.com/bbe3a347a0.js"></script>
</head>

<body>
    <div class="container">
        <nav class="nav right-mobile" role="navigation" id="side-nav">
            <ul>
                <li>
                    <button class="button-mobile">About</button>
                </li>
                <li>
                    <button class="button-mobile">Portfolio</button>
                </li>
                <li>
                    <button class="button-mobile">Contact</button>
                </li>
                <li>
                    <button class="go-back">Go Back</button>
                </li>
            </ul>
        </nav>
        <div class="header">
                <i class="fa fa-bars fa-3x" id="hamburger"></i>
            <h1>
                <%= person.firstName %>
                    <%= person.lastName %>
            </h1>
        </div>
    </div>
    <div class="container-2">
        <!-- <div class="group"> -->
        <div class="left-about">
            <h3>
                About Me:
            </h3>
            <p>
                Lorem ipsum dolor sit amet, pro omittam invidunt ex, id vel tollit prodesset accommodare. Te sed ornatus mediocritatem, est
                in quot eirmod. Elit nobis similique ex mel. Cu nam harum ocurreret splendide, nam cu veri justo.
                <br>
                <br> Est errem everti ea, epicuri dignissim ei quo. Mei ad decore graecis eligendi, quod bonorum sit et. Tota
                oratio albucius in per, usu omnis expetendis inciderint ei. Te quo molestiae inciderint adversarium, quem
                petentium definitionem et sea, ut voluptua similique eos.
            </p>
        </div>
        <div class="right-about">
            <img src="./old-guy-resize.jpg" class="portrait">
        </div>
        <!-- </div> -->
    </div>
    <div class="container-3">
        <div>
            <img src="./vstda.png" class="projects shadow first-project">
        </div>
        <div>
            <img src="./mortgage-calculator.png" class="projects shadow second-project">
        </div>
        <div>
            <img src="./change-calculator.png" class="projects shadow third-project">
        </div>
        <div>
            <img src="./top-spots.png" class="projects shadow fourth-project">
        </div>
    </div>
    <div class="container-4">
        <div class="js">
            <img src="./js-logo.svg" width="100" height="100">
        </div>
        <div class="node">
            <img src="./node-logo.svg" width="100" height="100">
        </div>
        <div class="mongo">
            <img src="./mongo-logo.svg" width="100" height="100">
        </div>
        <div class="react">
            <img src="./react-logo.svg" width="70" height="70">
        </div>
    </div>
    </div>
    <div class="container-5">
        <h2>Holler At Me</h2>
    </div>
    <form class="form1" action="">
        <label for="name" class="name">
            Name
        </label>
        <input id="name-input" type="text">
        <label for="email">
            Email
        </label>
        <input id="email-input" type="email">
        <label for "message">
            Message
        </label>
        <textarea id="message-input"></textarea>
        <button>
            Submit
        </button>
    </form>
    <script src="main.js"></script>
</body>

</html>