<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8" />
    <title>Clay's Portfolio</title>
    <link rel="stylesheet" href='styles.css' />
    <link rel="stylesheet" href='grid.css' />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:600|Raleway:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Esteban" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <script src="https://use.fontawesome.com/bbe3a347a0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Esteban|Playfair+Display:400i" rel="stylesheet">
</head>

<body class="preload">
    <div class="container">
        <nav class="nav right-mobile" role="navigation" id="side-nav">
            <ul>
                <li>
                    <i class="fa fa-times fa-5x" id="close-nav"></i>
                    <button class="button-mobile" target="parent" name="about-scroll" id="close-nav-2">
                        <a href="#about-scroll">About</a>
                    </button>
                </li>
                </li>
                <li>
                    <button class="button-mobile" id="close-nav-3">
                        <a href="#portfolio-scroll">Portfolio</a>
                    </button>
                </li>
                <li>
                    <button class="button-mobile" id="close-nav-4">
                        <a href="#contact-scroll">Contact</a>
                    </button>
                </li>
            </ul>
        </nav>
        <div class="header">
            <i class="fa fa-bars fa-2x" id="hamburger"></i>
            <h1 id="logo">
                <!-- <%= person.firstName %> <%= person.lastName %> -->
                CLAY KNIGHT
            </h1>
            <h2 class="subtitle">
                Full-Stack Developer
            </h2>
        </div>
    </div>
    <div class="container-2">
        <!-- <div class="group"> -->
        <div class="left-about">
            <a name="about-scroll"></a>
            <h3 class="about-header">
                About Me
            </h3>

            <p class="about-text">
                I am an aspiring full-stack developer with a special knack for the front-end. Spending 4 years at the 861 Groupe as an SEO
                Specialist I always marveled at the fine craft the developers honed day in and day out. The approach of “I’ve
                never done done that before, but I can figure it out” always really impressed me. Of all the attitudes I’ve
                ever respected in other people and myself as well the “I can figure it out” mindset is the one I’ve valued
                most.
                </br>
                </br>

                This all led me to taking the leap into the journey of becoming a web developer. I joined the excellent full-stack development
                program at Origin Code Academy in late 2017 and finished up in February of this year. I really liked that
                Origin made a point to teach you how to think and figure stuff out instead of blindly following step by step
                instructions. I now having coding on the brain to say the least and when I’m not surfing in front of my house
                I spend countless hours trying new things that seem impossible off the bat.</br>
                </br>
            </p>
        </div>
        <div class="right-about">
            <img src="./clay-pic.jpg" class="portrait">
        </div>
        <!-- </div> -->
    </div>
    <div class="portfolio-title" id="portfolio-scroll">
        <h4>
            <span class="project-bottom">PROJECTS</span>
        </h4>
    </div>
    <div class="container-wrapper-white">
        <div class="container-3">
            <div class="featured-title one">
                <h2>
                    San Diego JS: Mobile Check-In App
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non justo quis massa condimentum imperdiet. Phasellus scelerisque
                    pellentesque purus non auctor. In malesuada sed urna feugiat finibus. Nulla tristique ipsum nec sapien
                    dictum tempor. Cras sagittis eget eros id egestas. Fusce molestie nec metus ac venenatis. Ut tortor neque,
                    egestas placerat viverra tempor, congue non lorem. Morbi porttitor faucibus urna, eu maximus nunc pretium
                    non. Nam ut lacinia lorem.
                    <br> Nam eget tellus dapibus, condimentum tellus sed, luctus arcu. Aenean ultrices elit nibh, ut egestas
                    massa laoreet ac. Aliquam turpis urna, pulvinar eget tempus ornare, dictum ac mi. Pellentesque lacinia
                    urna a diam consectetur, ac tincidunt nisi faucibus. Sed dignissim sapien ex, nec hendrerit ligula maximus
                    vitae. Pellentesque non libero posuere, sagittis ante non, fermentum libero. Nullam at lacinia orci,
                    eget imperdiet leo. Nam eget nibh sed lectus tincidunt aliquet. In vulputate varius arcu varius iaculis.
                    Nulla pretium rutrum lectus et sagittis. Maecenas malesuada metus lectus, a sodales ex molestie vitae.

                </p>
            </div>
            <div class="two">
                <a href="#" class=".hvr-grow">
                    <img src="./two-iphones-spread.png" class="projects first-project grow" id="featured-project">
                </a>
            </div>
            <div class="three">
                <a href="#" class=".hvr-grow">
                    <img src="./change-transparent.png" class="projects first-project grow" id="featured-project">
                </a>
            </div>
            <div class="featured-title four">
                <h2>
                    San Diego JS: Mobile Check-In App
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non justo quis massa condimentum imperdiet. Phasellus scelerisque
                    pellentesque purus non auctor. In malesuada sed urna feugiat finibus. Nulla tristique ipsum nec sapien
                    dictum tempor. Cras sagittis eget eros id egestas. Fusce molestie nec metus ac venenatis. Ut tortor neque,
                    egestas placerat viverra tempor, congue non lorem. Morbi porttitor faucibus urna, eu maximus nunc pretium
                    non. Nam ut lacinia lorem.
                    <br> Nam eget tellus dapibus, condimentum tellus sed, luctus arcu. Aenean ultrices elit nibh, ut egestas
                    massa laoreet ac. Aliquam turpis urna, pulvinar eget tempus ornare, dictum ac mi. Pellentesque lacinia
                    urna a diam consectetur, ac tincidunt nisi faucibus. Sed dignissim sapien ex, nec hendrerit ligula maximus
                    vitae. Pellentesque non libero posuere, sagittis ante non, fermentum libero. Nullam at lacinia orci,
                    eget imperdiet leo. Nam eget nibh sed lectus tincidunt aliquet. In vulputate varius arcu varius iaculis.
                    Nulla pretium rutrum lectus et sagittis. Maecenas malesuada metus lectus, a sodales ex molestie vitae.

                </p>
            </div>
            <div class="featured-title five">
                <h2>
                    San Diego JS: Mobile Check-In App
                </h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non justo quis massa condimentum imperdiet. Phasellus scelerisque
                    pellentesque purus non auctor. In malesuada sed urna feugiat finibus. Nulla tristique ipsum nec sapien
                    dictum tempor. Cras sagittis eget eros id egestas. Fusce molestie nec metus ac venenatis. Ut tortor neque,
                    egestas placerat viverra tempor, congue non lorem. Morbi porttitor faucibus urna, eu maximus nunc pretium
                    non. Nam ut lacinia lorem.
                    <br> Nam eget tellus dapibus, condimentum tellus sed, luctus arcu. Aenean ultrices elit nibh, ut egestas
                    massa laoreet ac. Aliquam turpis urna, pulvinar eget tempus ornare, dictum ac mi. Pellentesque lacinia
                    urna a diam consectetur, ac tincidunt nisi faucibus. Sed dignissim sapien ex, nec hendrerit ligula maximus
                    vitae. Pellentesque non libero posuere, sagittis ante non, fermentum libero. Nullam at lacinia orci,
                    eget imperdiet leo. Nam eget nibh sed lectus tincidunt aliquet. In vulputate varius arcu varius iaculis.
                    Nulla pretium rutrum lectus et sagittis. Maecenas malesuada metus lectus, a sodales ex molestie vitae.

                </p>
            </div>
            <div class="six">
                <a href="#" class=".hvr-grow">
                    <img src="./change-transparent.png" class="projects first-project grow" id="featured-project">
                </a>
            </div>
            <!-- <div>
                <a href="#" class=".hvr-grow">
                    <img src="./change-calculator.png" class="projects first-project grow" id="featured-project">
                </a>
            </div>
        </div> -->
            <!-- <div class="project-container">
            <div>
                <img src="./mortgage-calculator.png" class="projects shadow second-project grow">
            </div>
            <div>
                <img src="./change-calculator.png" class="projects shadow third-project grow">
            </div>
            <div>
                <img src="./vstda.png" class="projects shadow fourth-project grow">
            </div>
        </div> -->

        </div>
        <div class="made">
            <h4 class="made-header">Made With</h4>
        </div>
        <div class="container-wrapper-white">
            <div class="container-4">
                <div class="js">
                    <img src="./js-logo.svg" width="100" height="100">
                </div>
                <div class="node">
                    <img src="./node-logo.svg" width="100" height="100">
                </div>
                <div class="mongo">
                    <img src="./mongo-logo.svg" width="100" height="100">
                </div>
                <div class="react">
                    <img src="./react-logo.svg" width="70" height="70">
                </div>
            </div>
        </div>
    </div>
    <div class="container-5">
        <h4 class="contact-header">Get in Touch</h4>
    </div>
    <a name="contact-scroll" />
    <form class="form1" action="/thanks" method="POST">

        <label for="name" class="name">
            Name
        </label>
        <input id="name-input" type="text" name="name">
        <label for="email">
            Email
        </label>
        <input id="email-input" type="email" name="email">
        <label for "message">
            Message
        </label>
        <textarea id="message-input" name="message"></textarea>
        <button>
            Submit
        </button>
    </form>


    <footer class="footer-container">

    </footer>
</body>
<script src="main.js"></script>

</html>